<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Login to ChakriPao</h5>
              <form [formGroup]="signinForm" class="form-signin">

                <div class="col form-group">
                    <div class="active-purple-3 active-purple-4 mb-4">
                        <i class="fa fa-user fa-lg icon" aria-hidden="true"></i>
                        <input class="form-control" type="email" placeholder="Email address" formControlName="email" aria-label="Search" style="padding-left: 40px;">
                    </div>                            
                </div>

                <div class="col form-group">
                  <div class="active-purple-3 active-purple-4 mb-4">
                      <i class="fa fa-lock fa-lg icon" aria-hidden="true"></i>
                      <input class="form-control" type="password" placeholder="Password" formControlName="password" aria-label="Search" style="padding-left: 40px;">
                  </div>                            
                </div>
  
                <div class="custom-control custom-checkbox mb-3 rem-pwd">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>

                <button class="btn btn-lg btn-loc btn-block text-uppercase" type="submit" (click)="socialLogIn('google')">Sign in</button>
                <hr class="my-4">
                <button class="btn btn-lg btn-google btn-block text-uppercase" role="button" type="submit" (click)="socialLogIn('google')"> <i class="fa fa-google mr-2"></i> Sign in with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" (click)="socialLogIn('linkedin')"><i class="fa fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                <div class="rdrct-reg">
                  <p class="pull-left"><a href="">Forgot password</a></p>
                  <!-- <p class="pull-right">New to ChakriPao?&nbsp; <a href="/sign-up" (click)="createAccount()">Create Account</a></p> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <section id="footer">
      <div class="container-fluid">
          <div class="row text-center text-xs-center text-sm-left text-md-left" style="margin-left: 0.8rem">
              <div class="col-xs-12 col-sm-3 col-md-3">
                  <h5>Search Your Job</h5>
                  <ul class="list-unstyled quick-links">
                      <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
                      <li><a href=""><i class="fa fa-angle-double-right"></i>Find Jobs</a></li>
                      <li><a href=""><i class="fa fa-angle-double-right"></i>Post Jobs</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4">
                  <h5>Stay Connected</h5>
                  <ul class="list-unstyled quick-links">
                      <li><a href=""><i class="fa fa-angle-double-right"></i>Contact us</a></li>
                      <li><a href=""><i class="fa fa-angle-double-right"></i>About us</a></li>
                      <li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                  </ul>
      </div>
  
      <div class="col-xs-12 col-sm-4 col-md-4 footeradd">
                  <h5>ChakriPao Job search</h5>
                  <P>Address:- BN- A240/356, Minto Bypass Road ABC Nagar,</P><p>District- Jarvisgunj</p>
      </div>
      
    </div>
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                  <ul class="list-unstyled list-inline social text-center">
                      <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
                      <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
                  </ul>
              </div>
              <hr>
          </div>	
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                  <p><u><a href="">ChakriPao JOB search</a></u> is a job search portal, Inc. Jarvis [a wholly owned subsidiary of Aakash Jaj]</p>
                  <p class="h6">© 2019 ChakriPao JOB portal. All rights reserved | Design by Aakash Jaj<a class="text-green ml-2" href="https://www.linkedin.com/in/akash-kumar-a5232b126/" target="_blank">ShivaTech</a></p>
              </div>
              <hr>
          </div>	
      </div>
  </section>
  </body>
